# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Salidas generadas
salidas_limpias/
*.png

# Datos pesados o sensibles
datos/
*.csv

# Sistema operativo / editor
.DS_Store
Thumbs.db
.vscode/
.idea/